<template>
  <JSONDownload ref="JSONDownload"/>
  <div class="save-container">
    <Button @click="saveData" ref="saveButton">Save</Button>
    <input @input="checkSave" ref="filename" type="text" placeholder="Enter title..."/>
  </div>
  <AddCardLayout @dataChange="checkSave" ref="addCardLayout" />
</template>

<script>
import Button from '@/components/Button.vue'
import AddCardLayout from "@/components/AddCardLayout.vue"
import JSONDownload from '@/components/JSONDownload.vue'

export default {
  name: 'Create',
  components: {
    Button,
    AddCardLayout,
    JSONDownload
  },
  methods: {
    checkSave() {
      if (((this.$refs.addCardLayout.cardData[0].term && this.$refs.addCardLayout.cardData[0].definition) || (this.$refs.addCardLayout.cardData.length > 1)) && !(this.$refs.filename.value === '')) {
        this.$refs.saveButton.buttonDisabled = false;
      } else {
        this.$refs.saveButton.buttonDisabled = true;
      }
    },
    saveData() {
      var dataOutput = [];
      for (var card of this.$refs.addCardLayout.cardData) {
        if (card.term && card.definition) {
          dataOutput.push(card);
        }
      }

      if (dataOutput.length > 0) {
        this.$refs.JSONDownload.download(JSON.stringify(dataOutput), `${this.$refs.filename.value}.json`, 'application/json')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.save-container {
  display: flex;
  gap: inherit;
  margin-bottom: 1em;
  input {
    font-size: 2em;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: #000;
    width: 100%;
    border: none;
    border-bottom: 3px solid $light-grey;
    padding: 0;
    line-height: 1em;
    &:focus, &:focus-visible {
      outline: none;
      border-color: #000;
    }
  }
}

button {
  align-self: flex-start;
}
</style>