<template>
  <div class="layout">
    <div class="layout-header flashcard-row">
      <div class="col-1"></div>
      <div class="col-2"><h2>Term</h2></div>
      <div class="col-3"><h2>Definition</h2></div>
      <div class="col-4"></div>
    </div>

    <div v-for="(card, i) in cardData" :key="i" class="flashcard-row">
      <div class="col-1">
        <h3>0{{ i + 1 }}</h3>
      </div>
      <div class="col-2">
        <input
          @input="cardInput(i)"
          v-model="card.term"
          placeholder="Term"
          :cardNumber="i + 1"
        />
      </div>
      <div class="col-3">
        <input
          @input="cardInput(i)"
          v-model="card.definition"
          placeholder="Definition"
          :cardNumber="i + 1"
        />
      </div>
      <div class="col-4">
        <button @click="deleteCard(i)">
          <img
            src="../assets/icons/trash-alt-solid-light-grey.svg"
            alt="delete"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddCardLayout",
  components: {},
  data() {
    return {
      cardData: [
        {
          term: "",
          definition: "",
        },
      ],
    };
  },
  methods: {
    cardInput(cardIndex) {
      if (
        !this.cardData[cardIndex + 1] &&
        this.cardData[cardIndex].term != "" &&
        this.cardData[cardIndex].definition != ""
      ) {
        // Card contains both fields and there's no following card
        this.cardData[cardIndex + 1] = { term: "", definition: "" };
        this.$emit('dataChange');
      }
      this.$emit('dataChange');
    },
    deleteCard(cardIndex) {
      if (cardIndex === this.cardData.length - 1) {
        this.cardData[cardIndex] = { term: "", definition: "" };
        this.$emit('dataChange');
      } else {
        this.cardData.splice(cardIndex, 1);
        this.$emit('dataChange');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
h2,
h3 {
  font-size: 2em;
}

div {
  display: flex;
  flex-grow: 1;
}

.layout {
  flex-direction: column;
  gap: 0;
}

.col-1,
.col-4 {
  width: 10%;
  justify-content: center;
}

.col-2,
.col-3 {
  width: 40%;
}

.col-4 img {
  width: 25%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flashcard-row {
  align-items: center;
  gap: 25px;
  border-bottom: 3px solid $light-grey;
  input {
    height: 1.2em;
  }
}

.col-4 button {
  border: none;
  background: none;
  padding: 0;
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
}

input {
  display: flex;
  width: 100%;
  font-size: 2em;
  font-family: "inter", sans-serif;
  padding: 0.5em;
  border-radius: 25px;
  border: 5px solid $medium-grey;
  background-color: $light-grey;
  &:focus,
  &:focus-visible {
    border-color: #000;
    outline: none;
  }
}
</style>