<template>
  <button :disabled="buttonDisabled" autocomplete="off" v-on:click="click" ><slot></slot></button>
</template>

<script>
export default {
    name: 'Button',
    methods: {  
        click() {
            if (!this.forceEnable) {
                this.buttonDisabled = true;
            }
        }
    },
    props: {
        forceEnable: Boolean,
    },
    data() {
        return {
            buttonDisabled: true,
        };
    },
    mounted() {
        if (this.forceEnable) {
            this.buttonDisabled = false;
        }
    }
}
</script>

<style lang='scss' scoped>
    button {
        border: none;
        padding: .7em 2em;
        background-color: $green-primary-active;
        font-family: 'Inter', sans-serif;
        font-size: 2em;
        font-weight: 600;
        border-radius: 15px;
        cursor: pointer;
    }

    button:disabled {
        background-color: $medium-grey;
    }
</style>