<template>
  <div class="columns-container">
    <Card
      :cardTitle="cardContents[0].title"
      :cardContent="cardContents[0].content"
      @reveal="reveal"
    />
    <Card
      :cardTitle="cardContents[1].title"
      :cardContent="cardContents[1].content"
      @reveal="reveal"
      ref="hiddenButton"
      startHidden
    />
  </div>
</template>

<script>
import Card from "./Card.vue";

export default {
  name: "CardLayout",
  components: {
    Card,
  },
  props: {
    cardContents: Array,
  },
  methods: {
    reveal() {
      this.$emit("reveal");
    },
  },
};
</script>

<style lang='scss' scoped>
.columns-container {
  display: flex;
  gap: 25px;
}

.columns-container > .col {
  // display: inline;
  flex-grow: 1;
  width: 50%;
}
</style>